:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

#navbar{
    position: fixed;
    margin-bottom: 5px;
    width: 100%;
    z-index: 1;
}

#contentNav{
    padding-top: var(--topNavbarHeight);
    width: var(--offcanvas-width);
}

#offcanvasExample {
    width: var(--offcanvas-width);
}

#table {
    width: 100%;
    height: auto;
}

#inner-content{
    padding-bottom: 10%;
}

@media (min-width: 992px) {
    body{
        overflow: auto;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    #offcanvasExample {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }

}